@import "../../styles/medias";
@import "../../styles/colors";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-two;
  padding: 0.5rem 1rem;

  @media only screen and (min-width: $mobile) {
    padding: 1rem 1.5rem;
  }

  @media only screen and (min-width: $tablet) {
    padding: 1.5rem 2rem;
  }

  @media only screen and (min-width: $laptop) {
    padding: 2rem 2.5rem;
  }

  @media only screen and (min-width: $laptopL) {
    padding: 2rem 3rem;
  }

  @media only screen and (min-width: $laptop-4k) {
    padding: 3rem 4rem;
  }
}
