@import "../../styles/medias";

.movements-counter {
  width: 50%;

  font-size: 1rem;

  @media only screen and (min-width: $tablet) {
    font-size: 1.5rem;
  }

  @media only screen and (min-width: $laptop-4k) {
    font-size: 4rem;
  }
}
